.anim0, .anim_rez{
    position: absolute;
    width: 1000px;
    height: 700px;
    left: 50%;
    top: 50%;
    margin-left: -500px;
    margin-top: -350px;    
}
.anim0_pic0, .anim0_pic1{
    width: 350px;
    height: 300px;
    position: absolute;
    top: 50px;
    left: 75px;
    border-radius: 15px;
}
.anim0_pic1{
    left: 575px;
}
.anim0_circleBar {
    position: absolute;
    width: 900px;
    height: 60px;
    left: 50px;
    top: 380px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.anim0_circle {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: lightblue;
    transform: opacity(0.5);
    transition-duration: 0.5s;
}
.anim0_fraz, .anim0_sence {
    position: absolute;
    width: 350px;
    height: 300px;
    top: 430px;
    left: 75px;
}
.anim0_sence {
    left: 575px;
}
.anim0_fraz>p, .anim0_sence>p {
    text-align: center;
    width: 100%;
    font: 25px "Times New Roman";
}
.anim0_fraz>p:hover, .anim0_sence>p:hover{
    box-shadow: 0 0 2px 2px red;
}
.anim0_but {
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url(./imgs/anim0/next.png);
    left: 50%;
    margin-left: -25px;
    top: 100%;
    margin-top: -25px;
}
/* 
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
*/
.anim0_pic_0_0 { background-image: url(./imgs/anim0/pics_0_0.png);}
.anim0_pic_0_1 { background-image: url(./imgs/anim0/pics_0_1.png);}

.anim0_pic_1_0 { background-image: url(./imgs/anim0/pics_1_0.png);}
.anim0_pic_1_1 { background-image: url(./imgs/anim0/pics_1_1.png);}

.anim0_pic_2_0 { background-image: url(./imgs/anim0/pics_2_0.png);}
.anim0_pic_2_1 { background-image: url(./imgs/anim0/pics_2_1.png);}

.anim0_pic_3_0 { background-image: url(./imgs/anim0/pics_3_0.png);}
.anim0_pic_3_1 { background-image: url(./imgs/anim0/pics_3_1.png);}

.anim0_pic_4_0 { background-image: url(./imgs/anim0/pics_4_0.png);}
.anim0_pic_4_1 { background-image: url(./imgs/anim0/pics_4_1.png);}

.anim0_pic_5_0 { background-image: url(./imgs/anim0/pics_5_0.png);}
.anim0_pic_5_1 { background-image: url(./imgs/anim0/pics_5_1.png);}

.anim0_pic_6_0 { background-image: url(./imgs/anim0/pics_6_0.png);}
.anim0_pic_6_1 { background-image: url(./imgs/anim0/pics_6_1.png);}

.anim0_pic_7_0 { background-image: url(./imgs/anim0/pics_7_0.png);}
.anim0_pic_7_1 { background-image: url(./imgs/anim0/pics_7_1.png);}

.anim0_pic_8_0 { background-image: url(./imgs/anim0/pics_8_0.png);}
.anim0_pic_8_1 { background-image: url(./imgs/anim0/pics_8_1.png);}

.anim0_pic_9_0 { background-image: url(./imgs/anim0/pics_9_0.png);}
.anim0_pic_9_1 { background-image: url(./imgs/anim0/pics_9_1.png);}

.anim0_pic_10_0 { background-image: url(./imgs/anim0/pics_10_0.png);}
.anim0_pic_10_1 { background-image: url(./imgs/anim0/pics_10_1.png);}

.anim0_pic_11_0 { background-image: url(./imgs/anim0/pics_11_0.png);}
.anim0_pic_11_1 { background-image: url(./imgs/anim0/pics_11_1.png);}

.anim0_pic_12_0 { background-image: url(./imgs/anim0/pics_12_0.png);}
.anim0_pic_12_1 { background-image: url(./imgs/anim0/pics_12_1.png);}

.anim0_pic_13_0 { background-image: url(./imgs/anim0/pics_13_0.png);}
.anim0_pic_13_1 { background-image: url(./imgs/anim0/pics_13_1.png);}

.anim0_pic_14_0 { background-image: url(./imgs/anim0/pics_14_0.png);}
.anim0_pic_14_1 { background-image: url(./imgs/anim0/pics_14_1.png);}

.anim0_pic_15_0 { background-image: url(./imgs/anim0/pics_15_0.png);}
.anim0_pic_15_1 { background-image: url(./imgs/anim0/pics_15_1.png);}

.anim0_pic_16_0 { background-image: url(./imgs/anim0/pics_16_0.png);}
.anim0_pic_16_1 { background-image: url(./imgs/anim0/pics_16_1.png);}

.anim0_pic_17_0 { background-image: url(./imgs/anim0/pics_17_0.png);}
.anim0_pic_17_1 { background-image: url(./imgs/anim0/pics_17_1.png);}

.anim0_pic_18_0 { background-image: url(./imgs/anim0/pics_18_0.png);}
.anim0_pic_18_1 { background-image: url(./imgs/anim0/pics_18_1.png);}

.anim0_pic_19_0 { background-image: url(./imgs/anim0/pics_19_0.png);}
.anim0_pic_19_1 { background-image: url(./imgs/anim0/pics_19_1.png);}

.anim0_pic_20_0 { background-image: url(./imgs/anim0/pics_20_0.png);}
.anim0_pic_20_1 { background-image: url(./imgs/anim0/pics_20_1.png);}

.anim0_pic_21_0 { background-image: url(./imgs/anim0/pics_21_0.png);}
.anim0_pic_21_1 { background-image: url(./imgs/anim0/pics_21_1.png);}

.anim0_pic_22_0 { background-image: url(./imgs/anim0/pics_22_0.png);}
.anim0_pic_22_1 { background-image: url(./imgs/anim0/pics_22_1.png);}

.anim0_pic_23_0 { background-image: url(./imgs/anim0/pics_23_0.png);}
.anim0_pic_23_1 { background-image: url(./imgs/anim0/pics_23_1.png);}

.anim0_pic_24_0 { background-image: url(./imgs/anim0/pics_24_0.png);}
.anim0_pic_24_1 { background-image: url(./imgs/anim0/pics_24_1.png);}

.anim0_pic_25_0 { background-image: url(./imgs/anim0/pics_25_0.png);}
.anim0_pic_25_1 { background-image: url(./imgs/anim0/pics_25_1.png);}

.anim0_pic_26_0 { background-image: url(./imgs/anim0/pics_26_0.png);}
.anim0_pic_26_1 { background-image: url(./imgs/anim0/pics_26_1.png);}


.anim0_none {
    display: none;
}
.anim0_big{
    position: absolute;
    width: 1000px;
    height: 700px;
    left: 50%;
    top: 50%;
    margin-left: -500px;
    margin-top: -350px;    
}

.anim0_fraz_actived {
    box-shadow: 2px 2px 2px 2px green;
}
.ansNone { background-color: lightblue;}
.ansZero { background-color: red;}
.ansHalf { background-color: yellow;}
.ansRight { background-color: green;}

.anim0_rez_text{
    position: absolute;
    width: 100%;
    top: 35%;
    font: 60px "Times New Roman";
    text-align: center;
}