@import "~bootstrap/scss/bootstrap";
.Tests_test0{
    position: absolute;
    width: 1000px;
    height: 700px;
    left: 50%;
    top: 75px;   
    margin-left: -500px;    
    border: 1px solid black; 
}
.test0But{
    position: absolute;
    top: 95%;
    width: 200px;
    left: 50%;
    margin-left: -100px;
}
