.CardType0, .CardType1 {
    position: absolute;
    width: 1000px;
    height: 700px;
    left: 50%;
    top: 75px;   
    margin-left: -500px;
    border: 1px solid black;
}
  .CardType0_header {
      position: absolute;
      width: 980px;

      text-align: center;
      left: 10px;
      top: 10px;
      font: 40px "Times New Roman";
  }
  .CardType0_but {
      position: absolute;
      width: 200px;
      margin-left: -200px;
      left: 50%;      
      top: 680px;
  }
  .checkboxes {
    border-top: 1px solid black;
    list-style-type: none;
    position: absolute;
    width: 900px;
    height: 500px;
    left: 50px;
    top: 60%; 
    margin-top: -250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;    
  }
  .checkboxes>li{
    font: 30px "Times New Roman";
  }
  .checkboxes>input{
    position: absolute;
    left: 10px;
    width: 30px;
    height: 30px; 
  }

  .CardType1_quest{
    position: absolute;
    width: 980px;
    left: 10px;
    text-align: center;
    font: 40px "Times New Roman";
    top: 10px;
  }
  .CardType1_text{
    border-top: 1px solid black;
    position: absolute;
    width: 980px;
    left: 10px;
    text-align: center;
    font: 30px "Times New Roman";
    top: 180px;
    white-space: pre-line;
    margin-top: 0.5em; /* Отступ сверху */
    margin-bottom: 1em; /* Отступ снизу */
    
  }
  .CardType1_answer{
    position: absolute;
    width: 200px;
    font: 25px "Times New Roman";
    top: 600px;
    left: 50%;
    margin-left: -100px;
  }
  .CardType1_but{
    position: absolute;
    width: 200px;
    left: 50%;;
    margin-left: -100px;
    top: 680px;
  }