.LoginPage {
  position: absolute;
  width: 200px;
  height: 170px;
  left: 50%;
  top: 50%;
  margin-left: -100px;
  margin-top: -85px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
input[type=text], input[type=password] {
  height: 50px;
  font: 25px "Times New Roman";
  text-align: center;
  border: none;
  box-shadow: 0 0 1px 1px blue;
}
input[type=submit]{
  height: 40px;
  border-radius: 5px;
  background-color: lightblue;
}
.LPop0{
  opacity: 0;
  display: none;
}
.LoginPage_close{
  position: absolute;
  top: -10%;
  left: 110%;
}